# Root
.env
.env.*
!.env.example
!.env*.example
node_modules/
vendor/
dist/
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
.vercel

# Backend
backend/storage/*.key
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*
backend/database/*.sqlite
!backend/storage/logs/.gitignore
!backend/storage/framework/cache/.gitignore
!backend/storage/framework/sessions/.gitignore
!backend/storage/framework/views/.gitignore
!backend/bootstrap/cache/.gitignore

# Frontend
frontend/dist/
frontend/.env
frontend/.env.local

# Docker
postgres_data/
